dist
cabal-dev
.cabal-sandbox
cabal.sandbox.config
*.o
*.hi
*.chi
*.chs.h
*.lksh*
.stack-work/
/.temp
/test/lib-tests/bower_components
/test/lib-tests/output
/test/lib-tests/dce-output
/test/examples
/bundle/*.tar.gz
/bundle/*.sha
/bundle/zephyr
